/*
=============================================================================
  Shoaib Aftab CSS - Positioning
=============================================================================
*/

/* Position */
.sa-static { position: static; }
.sa-fixed { position: fixed; }
.sa-absolute { position: absolute; }
.sa-relative { position: relative; }
.sa-sticky { position: sticky; }

/* Top / Right / Bottom / Left */
.sa-inset-0 { top: 0px; right: 0px; bottom: 0px; left: 0px; }
.sa-inset-auto { top: auto; right: auto; bottom: auto; left: auto; }
.sa-inset-y-0 { top: 0px; bottom: 0px; }
.sa-inset-x-0 { right: 0px; left: 0px; }

.sa-top-0 { top: 0px; }
.sa-right-0 { right: 0px; }
.sa-bottom-0 { bottom: 0px; }
.sa-left-0 { left: 0px; }
.sa-top-auto { top: auto; }
.sa-right-auto { right: auto; }
.sa-bottom-auto { bottom: auto; }
.sa-left-auto { left: auto; }
.sa-top-1\/2 { top: 50%; }
.sa-right-1\/2 { right: 50%; }
.sa-bottom-1\/2 { bottom: 50%; }
.sa-left-1\/2 { left: 50%; }

/* Z-Index */
.sa-z-0 { z-index: var(--sa-z-0); }
.sa-z-10 { z-index: var(--sa-z-10); }
.sa-z-20 { z-index: var(--sa-z-20); }
.sa-z-30 { z-index: var(--sa-z-30); }
.sa-z-40 { z-index: var(--sa-z-40); }
.sa-z-50 { z-index: var(--sa-z-50); }
.sa-z-auto { z-index: var(--sa-z-auto); }
